.main_body{
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: 5;
}

.main_body div{
}

.heading{
    grid-area: "heading";
}

h1 {
    color: red;
}


a{
    display: block;
}

a[target]{
    color: pink;
}

a[target="_blank"]{
    color: red;
}

a[href^="https"]{
	font-size: 30px;
    margin-left: 30px;
}

a[href$=".net"]{
	background-color: yellow;
}

a[href*="daum"]{
    color: sienna;
}



/*
Pseudo-Class Selector
*/

li{
    color: green;
}

/*
li:first-child{
    color: red;
}
*/
/*
li:last-child{
    color: red;
}
*/

ul li:nth-child(even){
    color: red;
}

ol li:nth-of-type(even){
    color: blue;
}
/*
ol li:nth-child(even){
    color: blue;
}
*/


/* :not() */
input:not([placeholder]){
    background-color: indianred;
}

.VES{
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.VES .movie::before{
    content: 'MOVIE';
    color: indianred;
}